include ../title/title
include ../slider-navigation/slider-navigation

mixin work-report(title)
  section.work-report.container
    +title(title).work-report__title
    div.work-report__content
      p Панорамное остекление, представляющее собой конструкцию, занимающую часть или всю стену, а иногда и смежные, широко используется как в загородном строительстве для оформления террас, веранд, так и пользуется популярностью в городе для остекления лоджий и балконов или оформления современных высотных зданий.
      p Панорамное остекление, представляющее собой конструкцию, занимающую часть или всю стену, а иногда и смежные, широко используется как в загородном строительстве для оформления террас, веранд, так и пользуется популярностью в городе для остекления лоджий и балконов или оформления современных высотных зданий.
      p.work-report__link Весь выпуск можно посмотреть
        |
        |
        a(href="#") тут
    div.work-report__slider-container
      div.work-report__slider-wrapper
        img(src="img/work-report/work-1.jpg" width='603' height='438' alt='Готовая работа').work-report__slide
        img(src="img/work-report/work-1.jpg" width='603' height='438' alt='Готовая работа').work-report__slide
      +slider-navigation(false, 'work-report').work-report__slider-navigation
