include ../breadcrumbs/breadcrumbs
include ../title/title

-
  const breadcrumbs = [
    {
      title: 'Главная',
      link: '#',
    },
    {
      title: 'Новости',
      link: '#',
    }
  ]

mixin news-heading
  div.news-heading.container
    +breadcrumbs(breadcrumbs).news-heading__breadcrumbs
    +title('Новости', 'bold').news-heading__title
