.news-promo {
  display: flex;
  align-items: start;
  width: 100%;
  margin-bottom: 12px;
  padding: 35px 30px;
  border: 1px solid $border-gray;

  @include mobile-max {
    flex-direction: column;
  }
}

.news-promo__img {
  width: 278px;
  margin-right: 75px;

  @include tablet-medium-max {
    margin-right: 35px;
  }

  @include mobile-max {
    width: 100%;
    margin-bottom: 25px;
  }
}

.news-promo__date {
  @include ubuntu(14, 7, 700);
  margin-bottom: 15px;
  color: $orange-date;
}

.news-promo__title {
  @include ubuntu(18, 18, 500);
  margin-bottom: 30px;
  color: $black-title;
  text-transform: uppercase;
}

.news-promo__text {
  @include ubuntu(16, 24, 400);
  margin-bottom: 25px;
  color: $dark-gray;

  @include mobile-max {
    font-size: 17px;
    margin-bottom: 15px;
  }

  @include mobile-medium-max {
    font-size: 14px;
  }
}

.news-promo__linck {
  @include ubuntu(15, 30, 300);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
