.page-footer {
  width: 100%;
  background-color: $gray;
}

.page-footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 83px 15px 15px 15px;
  max-width: 1170px;

  @include tablet-max {
    padding-top: 70px;
  }

  @include tablet-medium-max {
    padding-top: 50px;
  }

  @include mobile-max {
    padding: 30px 18px 8px;
  }
}

.page-footer__company {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 10px;
  width: 225px;
  max-width: 300px;

  @include tablet-medium-max {
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }

  @include mobile-max {
    margin-right: 0;
  }

  @include mobile-medium-max {
    flex-wrap: wrap;
  }
}

.page-footer__logo {
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @include tablet-medium-max {
    margin-right: 15px;
    margin-left: 15px;
  }

  @include mobile-medium-max {
    margin-bottom: 15px;
  }
}

.page-footer__company-details {
  @include ubuntu(14, 20, 400);
  color: $white;

  margin-top: 15px;
  margin-bottom: 20px;

  @include tablet-medium-max {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 25px;
    margin-left: auto;
    font-size: 12px;
  }

  @include mobile-max {
    width: 195px;
    margin-right: 10px;
  }

  @include mobile-medium-max {
    margin-left: 15px;
  }
}

.page-footer__company-details-title {
  @include ubuntu(15, 20, 700);
}

.page-footer__logo-description {
  @include ubuntu(13, 18, 500);
  margin-top: 25px;
  margin-bottom: 70px;
  color: $white;
  text-transform: uppercase;

  @include tablet-medium-max {
    width: 220px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 25px;
    margin-left: auto;
    font-size: 12px;
  }

  @include mobile-max {
    margin-right: 10px;
  }

  @include mobile-medium-max {
    margin-left: 15px;
    font-size: 11px;
  }
}

.page-footer__404-requisites {
  @include ubuntu(13, 18, 500);
  color: $white;
  padding-top: 5px;
  display: inline-block;
}

.page-footer__technology {
  @include mobile-medium-max {
    display: none;
  }
}

.page-footer__technology-description {
  @include ubuntu(14, 18, 500);
  margin-top: 10px;
  color: $white;

  @include tablet-medium-max {
    font-size: 12px;
  }

  @include mobile-max {
    font-size: 11px;
  }
}

.page-footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @include tablet-medium-max {
    justify-content: space-around;
    width: 100%;
  }
}

.page-footer__nav-header {
  position: relative;
  padding-bottom: 16px;

  @include ubuntu(18, 18, 700);
  color: $white;

  &::after {
    content: "";
    display: block;
    width: 65px;
    height: 1px;
    background-color: $orange;
    position: absolute;
    bottom: 0;
  }

  @include mobile-max {
    font-size: 12px;
    padding-bottom: 14px;
  }
}

.page-footer__nav-list {
  @include list-reset;
  margin-top: 15px;
  margin-bottom: 10px;

  &--categories {
    @include tablet-medium-max {
      margin-right: 45px;
    }

    @include mobile-max {
      margin-right: 0;
      max-width: 108px;
    }

    margin-right: 65px;
  }

  &--services {
    @include tablet-max {
      margin-bottom: 45px;
      margin-right: 65px;
    }

    @include tablet-medium-max {
      margin-right: 45px;
    }

    @include mobile-max {
      margin-right: 0;
      max-width: 108px;
    }

    margin-right: 60px;
  }

  &--about {
    margin-right: 0;

    @include tablet-max {
      margin-right: 5px;
      margin-bottom: 40px;
    }

    @include mobile-max {
      max-width: 130px;
      margin-right: 0;
    }
  }
}

.page-footer__item:not(:last-child) {
  margin-bottom: 12px;

  @include mobile-max {
    margin-bottom: 9px;
  }
}

.page-footer__item {
  @include mobile-max {
    max-width: 131px;
    margin-bottom: 0;
  }
}

.page-footer__link {
  @include no-indent;
  @include ubuntu(16, 20, 400);
  display: block;
  color: $white;
  text-decoration: none;
  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @include tablet-max {
    @include ubuntu(13, 18, 400);
  }

  @include mobile-max {
    @include ubuntu(11, 18, 400);
    display: inline;
    vertical-align: text-top;
  }
}

.page-footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 160px;
  margin-right: 20px;

  @include tablet-max {
    margin-right: 5px;
  }

  @include tablet-medium-max {
    order: 2;
  }

  @include mobile-max {
    width: auto;
  }
}

.page-footer__social-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 24px;
  width: 160px;

  @include mobile-max {
    flex-wrap: nowrap;
  }
}

.page-footer__social-link {
  @include no-indent;
  display: block;
  color: $gray;
  text-decoration: none;
}

.page-footer__social-item {
  padding: 3px 9px;
  border-right: 1px solid $icon-bg-gray;

  &:first-child {
    border-left: 1px solid $icon-bg-gray;
  }
}

.page-footer__icon {
  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__info {
  @include ubuntu(14, 18, 500);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 160px;
  width: 430px;
  margin-top: 15px;
  color: $icon-bg-gray;

  @include tablet-max {
    width: 395px;
  }

  @include tablet-medium-max {
    justify-content: flex-start;
    width: 100%;
  }

  @include mobile-max {
    flex-wrap: nowrap;
    font-size: 12px;
    line-height: 7px;
  }
}

.page-footer__info-item {
  display: block;
  position: relative;
  width: 195px;
  padding-top: 8px;
  padding-left: 65px;

  &::before {
    content: "";
    display: block;
    width: 52px;
    height: 52px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $light-gray;
    border-radius: 50%;

    @include mobile-max {
      width: 40px;
      height: 40px;
    }
  }

  @include tablet-medium-max {
    margin-right: 50px;
  }

  @include mobile-medium-max {
    margin-right: 5px;
    padding-left: 45px;
  }
}

.page-footer__info-item img {
  position: absolute;
  left: 12px;

  @include mobile-max {
    left: 6px;
  }
}

.page-footer__info-img--appointment {
  top: 12px;

  @include mobile-max {
    top: 5px;
  }
}

.page-footer__info-img--mail {
  top: 16px;

  @include mobile-max {
    top: 10px;
  }
}

.page-footer__info-description {
  display: block;
}

.page-footer__info-text {
  @include ubuntu(16, 18, 700);

  @include mobile-max {
    font-size: 12px;
    line-height: 22px;
  }
}

.page-footer__messenger {
  display: flex;
  margin-top: 15px;
}

.page-footer_messenger-name {
  @include ubuntu(14, 18, 500);
  color: $icon-bg-gray;
  margin-top: 25px;
  margin-right: 32px;

  @include tablet-max {
    margin-right: 20px;
  }

  @include mobile-max {
    margin-top: 20px;
  }

  @include mobile-medium-max {
    display: none;
  }
}

.page-footer__messenger-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 24px;
  width: 135px;

  @include mobile-max {
    width: 85px;
  }

  & .page-footer__icon {
    @include mobile-max {
      width: 20px;
      height: 20px;
    }
  }
}

.page-footer__bottom {
  width: 100%;
  background-color: $medium-gray;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 15px 15px 15px;
  max-width: 1170px;
  width: 100%;

  @include tablet-max {
    padding: 22px 35px 22px;
  }

  @include mobile-max {
    padding: 16px 18px 16px;
  }
}
