include ../link/link

section.main-slider
  h2.visually-hidden Акции нашей компании
  div.main-slider__container
    div.main-slider__wrapper
      div.main-slider__slide
        div.main-slider__description-container
          span.main-slider__promo-marker Акция
          h3.main-slider__title Бесплатный монтаж!
          p.main-slider__slogan При заказе деревянных окон до&nbsp;14&nbsp;ноября
          p.main-slider__slogan Подробности акции уточняйте у&nbsp;менеджеров
          span.main-slider__data до 17.08.19
          +link('Подробнее', '#', 'card-details').main-slider__details-link
      div.main-slider__slide
        div.main-slider__description-container
          span.main-slider__promo-marker Скидка
          h3.main-slider__title Бесплатный монтаж!
          p.main-slider__slogan При заказе деревянных окон до&nbsp;14&nbsp;ноября
          p.main-slider__slogan Подробности акции уточняйте у&nbsp;менеджеров
          span.main-slider__data до 31.12.19
          +link('Подробнее', '#', 'card-details').main-slider__details-link
    div.main-slider__pagination
