.linck {
  @include ubuntu(16, 20, 700);
  position: relative;
  display: block;
  color: $green;
  text-decoration: underline;
  transition: opacity 0.3s;

  &--arrow {
    display: inline-block;
    padding-right: 63px;
  }

  &--gray {
    @include ubuntu(15, 18, 700);
    display: inline-block;
    color: $gray;
    text-decoration-color: $header-gray;

    &:hover,
    :focus {
      text-decoration: none;
    }
  }
}

.linck__arrow {
  position: absolute;
  right: 0;
  top: 8px;
}
