.multi-examples {
  margin: 0 auto;
  padding-top: 170px;
  padding-bottom: 60px;

  text-align: center;

  @include tablet-max {
    padding-top: 90px;
  }

  @include mobile-max {
    padding-top: 70px;
  }
}

.multi-examples__controls {
  padding-bottom: 30px;
  text-align: center;
}

.multi-examples__set.disabled {
  display: none;
}

.multi-examples__contents {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
  padding: 15px 55px 30px 55px;
  margin-bottom: 25px;

  @include mobile-max {
    padding-top: 36px;
  }

  @include mobile-medium-max {
    padding-top: 25px;
  }
}

.multi-examples__container {
  max-width: 946px;
  width: auto;
  margin: 0 auto;
}

.multi-examples__gallery-top {
  margin-bottom: 8px;
}

.multi-examples__gallery-thumbs .swiper-slide {
  opacity: 0.4;

  &:hover {
    cursor: pointer;
  }
}

.multi-examples__gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.multi-examples__slider-navigation {
  position: absolute;
  top: 40%;
  left: 5px;
  right: 5px;

  @include mobile-max {
    left: 10px;
    right: 10px;
  }
}

.multi-examples__all-projects-link {
  @include ubuntu(16, 20, 400);
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-top: 25px;
  color: $medium-gray;
  outline: none;
  border-bottom: 2px solid $medium-gray;

  &:hover,
  &:focus {
    color: $green;
    border-color: transparent;
  }
}
