.win-advantages {
  position: relative;
  background-color: $decor-gray;
  overflow-x: clip;

  &::after {
    content: "";
    position: absolute;
    height: 60px;
    background-image: url("../img/decor/wave.png");
    background-repeat: no-repeat;
    background-size: cover;

    left: 0;
    right: 0;
    bottom: -60px;
  }
}

.win-advantages__wrapper {
  position: relative;
  max-width: 1170px;
  width: 100%;
  padding-top: 44px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  background-image: url("../img/decor/baby.png");
  background-position-x: right;
  background-repeat: no-repeat;

  @include mobile-medium-max {
    padding-bottom: 20px;
    background-image: none;
  }
}

.win-advantages__title {
  @include ubuntu(36, 36, 700);
  margin-bottom: 26px;
  padding-left: 45px;
  text-transform: uppercase;

  span {
    font-weight: 500;
  }

  @include tablet-max {
    font-size: 32px;
  }

  @include tablet-medium-max {
    font-size: 28px;
  }

  @include mobile-max {
    width: 460px;
  }

  @include mobile-medium-max {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 26px;
    padding-left: 35px;
    font-size: 20px;
    line-height: 24px;
  }
}

.win-advantages__qualities {
  @include mobile-medium-max {
    margin: 0 auto;
  }
}

.win-advantages__quality {
  &:last-child {
    margin-bottom: 0;
  }

  @include mobile-medium-max {
    justify-content: center;
  }
}

.win-advantages__logo {
  position: absolute;
  right: 30px;
  bottom: -25px;
  z-index: 1;
}

.win-advantages__decoration-wave {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: -60px;

  @include mobile-medium-max {
    width: 1920px;
  }
}
