.slider-navigation {
  display: flex;
  justify-content: space-between;
}

.slider-navigation__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;
  padding: 0;

  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid $border-gray;
  border-radius: 50%;

  svg {
    width: 9px;
    height: 11px;
    transform: rotate(-90deg);
    fill: $very-light-gray;
  }

  &:hover {
    border: none;
    background-color: $green;

    svg {
      fill: $white;
    }
  }

  &:focus {
    outline: none;
  }

  &--prev {
    transform: rotate(180deg);
  }

  @include mobile-max {
    width: 30px;
    height: 30px;
  }
}

.slider-navigation__icon {
  color: $gray;

  pointer-events: none;

  @include mobile-max {
    width: 13px;
    height: 9px;
  }
}

.slider-navigation__pagination {
  display: flex;
  align-items: center;
}

.slider-navigation__bullet {
  display: block;
  width: 8px;
  height: 8px;
  margin-right: 30px;
  background-color: $gray;
  border-radius: 50%;
  cursor: pointer;

  &--active {
    background-color: $orange;
  }

  &:last-child {
    margin-right: 0;
  }

  @include mobile-max {
    margin-right: 22px;
  }
}
