doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title winfin - список страниц
    style.
      li {
        margin-bottom: 10px;
      }
  body
    h1 winfin
    ul
      li
        a(href="main.html") Главная - main.html
      li
        a(href="news.html") Новости - news.html
      li
        a(href="promotions.html") Акции - promotions.html
      li
        a(href="services.html") Услуги - services.html
      li
        a(href="about.html") О компании - about.html
      li
        a(href="windows.html") Окна - windows.html
      li
        a(href="doors.html") Двери - doors.html
