doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title winfin - список страниц
    style.
      li {
        margin-bottom: 10px;
      }
  body
    h1 winfin
    ul
      li
        a(href="fonts.html") Проверка шрифтов - fonts.html
      li
        a(href="pug-test.html") Проверка сборки - pug-test.html
      //- li
      //-   a(href="main.html") Главная - main.html
      //- li
      //-   a(href="modals.html") Модальные окна - modals.html
      //- li
      //-   a(href="catalog.html") Каталог товаров - catalog.html
      //- li
      //-   a(href="card.html") Карточка товара - card.html
      //- li
      //-   a(href="contacts.html") Контакты - contacts.html
      //- li
      //-   a(href="delivery.html") Доставка и установка - delivery.html
      //- li
      //-   a(href="about-us.html") О нас - about-us.html
