include ../blocks/head/head
//- include ../blocks/header/header
include ../blocks/page-footer/page-footer
include ../blocks/overlay/overlay

doctype html
html(lang='ru')
  +head('Главная')
  body
    //- +header

    main
      h1.visually-hidden Сайт компании "WINFIN"

    +overlay.js-modal-overlay
    +page-footer

    //- include ../blocks/_scripts-block/_scripts-block
