include ../blocks/head/head
include ../blocks/header/header
include ../blocks/feedback-contacts/feedback-contacts
include ../blocks/popular-windows/popular-windows
include ../blocks/calculator-section/calculator-section
include ../blocks/examples/examples
include ../blocks/work-report/work-report
include ../blocks/any-complexity/any-complexity
include ../blocks/gauge-request-form/gauge-request-form
include ../blocks/map/map
include ../blocks/page-footer/page-footer
include ../blocks/overlay/overlay
include ../blocks/ask-question-modal/ask-question-modal
include ../blocks/gager-modal/gager-modal
include ../blocks/call-request-modal/call-request-modal
include ../blocks/discount-modal/discount-modal

doctype html
html(lang='ru')
  +head('Главная')
  body
    +header

    main
      h1.visually-hidden Сайт компании "WINFIN"
      include ../blocks/main-slider/main-slider
      include ../blocks/company-promo/company-promo
      include ../blocks/profile-systems/profile-systems
      include ../blocks/win-advantages/win-advantages
      include ../blocks/window-selection-request-form/window-selection-request-form
      +popular-windows
      +calculator-section
      +examples('Наши проекты')
      +work-report('Мы на дочном ответе')
      +any-complexity('Деревянные окна любой&nbsp;сложности')
      include ../blocks/reviews-section/reviews-section
      include ../blocks/last-news/last-news
      include ../blocks/promotions-section/promotions-section
      include ../blocks/additions/additions
      include ../blocks/getting/getting
      include ../blocks/faq/faq
      +gauge-request-form('Оформите заявку на&nbsp;замер&nbsp;окон')
      include ../blocks/brands/brands
      +map

      +feedback-contacts
    +overlay.js-modal-overlay
    +ask-question-modal
    +gager-modal
    +call-request-modal
    +discount-modal
    +page-footer

    include ../blocks/_scripts-block/_scripts-block
