include ../blocks/head/head
include ../blocks/header/header
include ../blocks/feedback-contacts/feedback-contacts
include ../blocks/any-complexity/any-complexity
include ../blocks/page-footer/page-footer
include ../blocks/overlay/overlay
include ../blocks/gager-modal/gager-modal
include ../blocks/call-request-modal/call-request-modal
include ../blocks/discount-modal/discount-modal

doctype html
html(lang='ru')
  +head('Главная')
  body
    +header

    main
      h1.visually-hidden Сайт компании "WINFIN"
      include ../blocks/company-promo/company-promo
      include ../blocks/profile-systems/profile-systems
      include ../blocks/win-advantages/win-advantages
      include ../blocks/window-selection-request-form/window-selection-request-form
      +any-complexity('Деревянные окна любой&nbsp;сложности')
      include ../blocks/reviews-section/reviews-section
      include ../blocks/getting/getting
      include ../blocks/gauge-request-form/gauge-request-form

      +feedback-contacts
    +overlay.js-modal-overlay
    +gager-modal
    +call-request-modal
    +discount-modal
    +page-footer

    include ../blocks/_scripts-block/_scripts-block
