include ../blocks/head/head
include ../blocks/header/header
include ../blocks/news-heading/news-heading
include ../blocks/news-preview/news-preview
include ../blocks/news-subscription/news-subscription
include ../blocks/feedback-contacts/feedback-contacts
include ../blocks/page-footer/page-footer
include ../blocks/overlay/overlay

doctype html
html(lang='ru')
  +head('Новости')
  body
    +header

    main
      h1.visually-hidden Сайт компании "WINFIN"

      +news-heading
      +news-preview
      +news-subscription
      +feedback-contacts
    +page-footer
    +overlay.js-modal-overlay

    include ../blocks/_scripts-block/_scripts-block
