include ../blocks/head/head
include ../blocks/header/header
include ../blocks/filter/filter
include ../blocks/calculator-section/calculator-section
include ../blocks/multi-examples/multi-examples
include ../blocks/popular-windows/popular-windows
include ../blocks/feedback-contacts/feedback-contacts
include ../blocks/gauge-request-form/gauge-request-form
include ../blocks/page-footer/page-footer
include ../blocks/overlay/overlay
include ../blocks/gager-modal/gager-modal
include ../blocks/call-request-modal/call-request-modal
include ../blocks/discount-modal/discount-modal

doctype html
html(lang='ru')
  +head('Окна')
  body
    +header

    main
      h1.visually-hidden Сайт компании "WINFIN"
      include ../blocks/windows-heading/windows-heading
      +filter
      include ../blocks/windows-catalog/windows-catalog
      +calculator-section

      +multi-examples('Наши проекты деревянных&nbsp;окон')
      +popular-windows('catalog')
      include ../blocks/promotions-section/promotions-section

      +feedback-contacts
    +overlay.js-modal-overlay
    +gager-modal
    +call-request-modal
    +discount-modal
    +page-footer

    include ../blocks/_scripts-block/_scripts-block
