include ../title/title
include ../button/button
include ../sample/sample

-
  const modelsList = [
      {
        name: '',
        image: 'popular/window/w-1.png',
        w: 212,
        h: 225,
        alt: 'Окно Metro 2.0 & Metro Arctic.',
        title: 'Metro 2.0 & Metro Arctic',
        params: [
          '- Размер 1300х1400 мм',
          '- Клееный брус из сосны с алюминиевой накладкой',
        ],
        price: '45&nbsp;000',
        calcLink: '#',
      },
      {
        name: '',
        image: 'popular/window/w-2.jpg',
        w: 251,
        h: 187,
        alt: 'Окно Metro 2.0 & Metro Arctic.',
        title: 'Metro 2.0 & Metro Arctic',
        params: [
          '- Размер 1300х1400 мм',
          '- Клееный брус из сосны с алюминиевой накладкой',
        ],
        price: '45&nbsp;000',
        calcLink: '#',
      },
      {
        name: '',
        image: 'popular/window/w-3.jpg',
        w: 287,
        h: 184,
        alt: 'Окно Metro 2.0 & Metro Arctic.',
        title: 'Metro 2.0 & Metro Arctic',
        params: [
          '- Размер 1300х1400 мм',
          '- Клееный брус из сосны с алюминиевой накладкой',
        ],
        price: '45&nbsp;000',
        calcLink: '#',
      },
      {
        name: '',
        image: 'popular/window/w-4.jpg',
        w: 216,
        h: 206,
        alt: 'Окно Metro 2.0 & Metro Arctic.',
        title: 'Metro 2.0 & Metro Arctic',
        params: [
          '- Размер 1300х1400 мм',
          '- Клееный брус из сосны с алюминиевой накладкой',
        ],
        price: '45&nbsp;000',
        calcLink: '#',
      },
    ]

    const modelsList2 = [
      {
        name: '',
        image: 'popular/window/w-2.jpg',
        w: 251,
        h: 187,
        alt: 'Окно Metro 2.0 & Metro Arctic.',
        title: 'Metro 2.0 & Metro Arctic',
        params: [
          '- Размер 1300х1400 мм',
          '- Клееный брус из сосны с алюминиевой накладкой',
        ],
        price: '45&nbsp;000',
        calcLink: '#',
      },
      {
        name: '',
        image: 'popular/window/w-1.png',
        w: 212,
        h: 225,
        alt: 'Окно Metro 2.0 & Metro Arctic.',
        title: 'Metro 2.0 & Metro Arctic',
        params: [
          '- Размер 1300х1400 мм',
          '- Клееный брус из сосны с алюминиевой накладкой',
        ],
        price: '45&nbsp;000',
        calcLink: '#',
      },
      {
        name: '',
        image: 'popular/window/w-3.jpg',
        w: 287,
        h: 184,
        alt: 'Окно Metro 2.0 & Metro Arctic.',
        title: 'Metro 2.0 & Metro Arctic',
        params: [
          '- Размер 1300х1400 мм',
          '- Клееный брус из сосны с алюминиевой накладкой',
        ],
        price: '45&nbsp;000',
        calcLink: '#',
      },
      {
        name: '',
        image: 'popular/window/w-4.jpg',
        w: 216,
        h: 206,
        alt: 'Окно Metro 2.0 & Metro Arctic.',
        title: 'Metro 2.0 & Metro Arctic',
        params: [
          '- Размер 1300х1400 мм',
          '- Клееный брус из сосны с алюминиевой накладкой',
        ],
        price: '45&nbsp;000',
        calcLink: '#',
      },
    ]

    const modelsList3 = [
      {
        name: '',
        image: 'popular/window/w-2.jpg',
        w: 251,
        h: 187,
        alt: 'Окно Metro 2.0 & Metro Arctic.',
        title: 'Metro 2.0 & Metro Arctic',
        params: [
          '- Размер 1300х1400 мм',
          '- Клееный брус из сосны с алюминиевой накладкой',
        ],
        price: '45&nbsp;000',
        calcLink: '#',
      },
      {
        name: '',
        image: 'popular/window/w-4.jpg',
        w: 216,
        h: 206,
        alt: 'Окно Metro 2.0 & Metro Arctic.',
        title: 'Metro 2.0 & Metro Arctic',
        params: [
          '- Размер 1300х1400 мм',
          '- Клееный брус из сосны с алюминиевой накладкой',
        ],
        price: '45&nbsp;000',
        calcLink: '#',
      },
      {
        name: '',
        image: 'popular/window/w-1.png',
        w: 212,
        h: 225,
        alt: 'Окно Metro 2.0 & Metro Arctic.',
        title: 'Metro 2.0 & Metro Arctic',
        params: [
          '- Размер 1300х1400 мм',
          '- Клееный брус из сосны с алюминиевой накладкой',
        ],
        price: '45&nbsp;000',
        calcLink: '#',
      },
      {
        name: '',
        image: 'popular/window/w-3.jpg',
        w: 287,
        h: 184,
        alt: 'Окно Metro 2.0 & Metro Arctic.',
        title: 'Metro 2.0 & Metro Arctic',
        params: [
          '- Размер 1300х1400 мм',
          '- Клееный брус из сосны с алюминиевой накладкой',
        ],
        price: '45&nbsp;000',
        calcLink: '#',
      },
    ]

mixin popular-windows(mod)
  section.popular-windows
    div.container
      +title('Популярные модели окон', 'section')
      div.popular-windows__controls
        +button('Сосна', 'control').active.js-pwc-button(data-pwc='set-1' type='button')
        +button('Лиственница', 'control').js-pwc-button(data-pwc='set-2' type='button')
        +button('Меранти', 'control').js-pwc-button(data-pwc='set-3' type='button')
        +button('Дуб', 'control').js-pwc-button(data-pwc='set-4' type='button')
        +button('Дерево-алюминиевые', 'control').js-pwc-button(data-pwc='set-5' type='button')
      div.popular-windows__contents
        div.popular-windows__models-set(data-pwc='set-1')
          each model in modelsList
            +sample(model).popular-windows__model
        div.popular-windows__models-set.disabled(data-pwc='set-2')
          each model in modelsList2
            +sample(model).popular-windows__model
        div.popular-windows__models-set.disabled(data-pwc='set-3')
          each model in modelsList3
            +sample(model).popular-windows__model
        div.popular-windows__models-set.disabled(data-pwc='set-4')
          each model in modelsList
            +sample(model).popular-windows__model
        div.popular-windows__models-set.disabled(data-pwc='set-5')
          each model in modelsList2
            +sample(model).popular-windows__model
      if (!mod)
        a(href="#").popular-windows__catalog-link В каталог
