include ../promotions-promo/promotions-promo
include ../page-pagination/page-pagination

-
  const promotionsList = [
      {
        image: 'promotions-1.jpg',
        alt: "Скидка пенсионерам",
        label: "Скидка",
        date: 'Акция действительна до 12.02.22',
        title: 'Скидка на установку',
        text: 'Панорамное остекление, представляющее собой конструкцию, занимающую часть или всю стену, а иногда и смежные, широко используется как в загородном строительстве для оформления террас, веранд, так и пользуется популярностью в городе для остекления лоджий и балконов или оформления современных высотных зданий. Панорамное остекление, представляющее собой конструкцию,',
        href: '#',
      },
      {
        image: 'promotions-2.jpg',
        alt: "Скидка на установку",
        label: "Акция",
        date: 'Акция действительна до 12.02.22',
        title: 'Скидка на установку',
        text: 'Панорамное остекление, представляющее собой конструкцию, занимающую часть или всю стену, а иногда и смежные, широко используется как в загородном строительстве для оформления террас, веранд, так и пользуется популярностью в городе для остекления лоджий и балконов или оформления современных высотных зданий. Панорамное остекление, представляющее собой конструкцию,',
        href: '#',
      },
      {
        image: 'promotions-3.jpg',
        alt: "Окна без переплат",
        label: "Скидка",
        date: 'Акция действительна до 12.02.22',
        title: 'Скидка на установку',
        text: 'Панорамное остекление, представляющее собой конструкцию, занимающую часть или всю стену, а иногда и смежные, широко используется как в загородном строительстве для оформления террас, веранд, так и пользуется популярностью в городе для остекления лоджий и балконов или оформления современных высотных зданий. Панорамное остекление, представляющее собой конструкцию,',
        href: '#',
      },
      {
        image: 'promotions-4.jpg',
        alt: "Скидка пенсионерам",
        label: "",
        date: 'Акция действительна до 12.02.22',
        title: 'Скидка на установку',
        text: 'Панорамное остекление, представляющее собой конструкцию, занимающую часть или всю стену, а иногда и смежные, широко используется как в загородном строительстве для оформления террас, веранд, так и пользуется популярностью в городе для остекления лоджий и балконов или оформления современных высотных зданий. Панорамное остекление, представляющее собой конструкцию,',
        href: '#',
      },
    ]

mixin promotions-preview
  div.promotions-preview
    each item in promotionsList
      div.promotions-preview__item
        +promotions-promo(item).promotions-preview__card
    +page-pagination
