.company-promo {
  max-width: 1170px;
  margin: 0 auto;
  padding: 72px 15px 0;

  @include mobile-max {
    padding-top: 38px;
  }
}

.company-promo__description {
  @include ubuntu(17, 24, 700);
  margin: 32px auto;
  text-align: center;

  @include mobile-max {
    @include ubuntu(14, 20, 500);
  }

  @include mobile-medium-max {
    margin: 18px auto;
    font-size: 12px;
  }
}

.company-promo__qualities {
  display: flex;

  @include mobile-max {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
