include ../title/title
include ../quality/quality

-
  const qualitiesList = [
      {
        image: 'baby-boy.png',
        w: 34,
        h: 52,
        title: 'Безопасность',
        alt: 'Безопасность.'
      },
      {
        image: 'appointment-white.png',
        w: 42,
        h: 42,
        title: 'Срок службы до&nbsp;50&nbsp;лет',
        alt: 'Срок службы до 50 лет',
      },
      {
        image: 'eco.png',
        w: 47,
        h: 47,
        title: 'Экологичность',
        alt: 'Экологичность',
      },
      {
        image: 'certificate.png',
        w: 48,
        h: 48,
        title: 'Гарантия качества',
        alt: 'Гарантия качества',
      },
    ]

section.company-promo.container
  +title('ФИНСКИЕ ДЕРЕВЯННЫЕ ОКНА', 'section')
  p.company-promo__description Первая компания в&nbsp;России по производству окон и&nbsp;дверей из&nbsp;дерева. На протяжении 28-ми&nbsp;лет мы производим и устанавливаем деревянные окна в&nbsp;Москве и Московской области, адаптированные для российского климата и соответствующие самым высоким стандартам качества и&nbsp;безопасности.
  div.company-promo__qualities
    each quality in qualitiesList
      +quality(quality).company-promo__quality
