.map {
  max-width: 100%;
  height: 760px;

  @include tablet-max {
    height: 650px;
  }

  @include tablet-medium-max {
    height: 600px;
  }

  @include mobile-max {
    height: 550px;
  }

  @include mobile-medium-max {
    height: 400px;
  }
}

.map--low {
  height: 650px;

  @include tablet-max {
    height: 600px;
  }

  @include tablet-medium-max {
    height: 550px;
  }

  @include mobile-max {
    height: 500px;
  }

  @include mobile-medium-max {
    height: 400px;
  }
}
