include ../news-promo/news-promo
include ../page-pagination/page-pagination

-
  const newsList = [
      {
        image: 'news-1.jpg',
        alt: "Новость",
        date: '18.11.2019',
        title: 'ТЕКСТ НОВОСТИ',
        text: 'Панорамное остекление, представляющее собой конструкцию, занимающую часть или всю стену, а иногда и смежные, широко используется как в загородном строительстве для оформления террас, веранд, так и пользуется популярностью в городе для остекления лоджий и балконов или оформления современных высотных зданий. Панорамное остекление, представляющее собой конструкцию, занимающую часть или всю стену, а иногда и смежные, широко используется как в загородном строительстве для оформления',
        href: '#',
      },
      {
        image: 'news-2.jpg',
        alt: "Новость",
        date: '18.11.2019',
        title: 'ТЕКСТ НОВОСТИ',
        text: 'Панорамное остекление, представляющее собой конструкцию, занимающую часть или всю стену, а иногда и смежные, широко используется как в загородном строительстве для оформления террас, веранд, так и пользуется популярностью в городе для остекления лоджий и балконов или оформления современных высотных зданий. Панорамное остекление, представляющее собой конструкцию, занимающую часть или всю стену, а иногда и смежные, широко используется как в загородном строительстве для оформления',
        href: '#',
      },
      {
        image: 'news-3.jpg',
        alt: "Новость",
        date: '18.11.2019',
        title: 'ТЕКСТ НОВОСТИ',
        text: 'Панорамное остекление, представляющее собой конструкцию, занимающую часть или всю стену, а иногда и смежные, широко используется как в загородном строительстве для оформления террас, веранд, так и пользуется популярностью в городе для остекления лоджий и балконов или оформления современных высотных зданий. Панорамное остекление, представляющее собой конструкцию, занимающую часть или всю стену, а иногда и смежные, широко используется как в загородном строительстве для оформления',
        href: '#',
      },
      {
        image: 'news-4.jpg',
        alt: "Новость",
        date: '18.11.2019',
        title: 'ТЕКСТ НОВОСТИ',
        text: 'Панорамное остекление, представляющее собой конструкцию, занимающую часть или всю стену, а иногда и смежные, широко используется как в загородном строительстве для оформления террас, веранд, так и пользуется популярностью в городе для остекления лоджий и балконов или оформления современных высотных зданий. Панорамное остекление, представляющее собой конструкцию, занимающую часть или всю стену, а иногда и смежные, широко используется как в загородном строительстве для оформления',
        href: '#',
      },
    ]

mixin news-preview
  div.news-preview
    each item in newsList
      div.news-preview__item
        +news-promo(item).news-preview__card
    +page-pagination
