.title {
  @include ubuntu(36, 40, 500);
  color: $black-title;
  text-transform: uppercase;

  @include tablet-max {
    @include ubuntu(24, 36, 500);
  }

  @include mobile-max {
    @include ubuntu(18, 25, 500);
  }
}

.title--bold {
  @include ubuntu(36, 40, 700);

  @include tablet-max {
    @include ubuntu(28, 36, 700);
  }

  @include mobile-max {
    @include ubuntu(24, 25, 700);
  }
}

.title--section {
  position: relative;
  text-align: center;
  margin-bottom: 32px;
  padding-top: 23px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 80px;
    height: 2px;

    background-color: $border-gray;
  }

  @include mobile-max {
    margin-bottom: 24px;
  }
}

.title--section-nodecor {
  position: relative;
  text-align: center;
  margin-bottom: 32px;
  padding-top: 23px;

  @include mobile-max {
    margin-bottom: 24px;
  }
}
