-
  const fontsPreload = [
    'Ubuntu-Light.woff2',
    'Ubuntu-Regular.woff2',
    'Ubuntu-Medium.woff2',
    'Ubuntu-Bold.woff2'
  ]

mixin head(title)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title= title
    link(rel="preload" href="css/style.css" as="style")
    link(rel="stylesheet", href="css/style.css" media="screen")
    link(rel="preload" href="js/main.js" as="script")
    each font in fontsPreload
      link(rel="preload" href="fonts/" + font as="font" crossorigin="anonymous")
    //- include page-list
