include ../holder/holder
include ../breadcrumbs/breadcrumbs
include ../heading-nav/heading-nav
include ../title/title

-
  const breadcrumbs = [
    {
      title: 'Главная',
      link: '#',
    },
    {
      title: 'Все двери',
      link: '#',
    }
  ]

  const headingNavList = [
    {
      title: 'Все&nbsp;двери',
      link: '#',
    },
    {
      title: 'Панорамные&nbsp;деревянные&nbsp;окна',
      link: '#',
    },
    {
      title: 'Деревянные&nbsp;окна&nbsp;для&nbsp;квартиры',
      link: '#',
    },
    {
      title: 'Деревянные&nbsp;окна&nbsp;для&nbsp;дома',
      link: '#',
    },
    {
      title: 'Деревянные&nbsp;окна&nbsp;из&nbsp;сосны',
      link: '#',
    },
    {
      title: 'Окна&nbsp;из&nbsp;сосны',
      link: '#',
    },
    {
      title: 'Окна&nbsp;из&nbsp;дуба',
      link: '#',
    },
    {
      title: 'Еще&nbsp;параметр',
      link: '#',
    },
    {
      title: 'Еще&nbsp;параметр',
      link: '#',
    },
    {
      title: 'Еще&nbsp;параметр',
      link: '#',
    },
  ]

  const holderData = {
    title: 'Деревянные двери',
    slogan: 'Только до 20.12.19 дополнительная скидка<br>на установку',
    bg: 'doors-holder.jpg'
  }


div.doors-heading
  +holder(holderData).doors-heading__holder
  +breadcrumbs(breadcrumbs).doors-heading__breadcrumbs.container
  +heading-nav(headingNavList).doors-heading__heading-nav
  div.doors-heading__seo.container
    +title('ДЕРЕВЯННЫЕ ДВЕРИ', 'bold').doors-heading__title.container
    p Если в оконных проемах установлены старые или временные деревянные окна, то наши специалисты произведут демонтаж и подготовят проемы к монтажу новых окон из дерева. Монтаж оконных блоков осуществляется в строгом соответствии с ГОСТ 30971-2002
