.calculator-form {
  padding: 30px 10px 10px 55px;
  background: $decor-gray url("../img/calculator-form/bg-decor.png") left top no-repeat;
  background-size: auto 100%;

  @include tablet-max {
    padding-right: 40px;
  }

  @include mobile-max {
    background-size: 100% auto;
  }

  @include mobile-medium-max {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.calculator-form__title {
  @include mobile-max {
    font-size: 22px;
  }
}

.calculator-form__form {
  margin-top: 45px;
  display: flex;

  @include mobile-max {
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 85px;
  }
}

.calculator-form__left-side {
  margin-right: 22px;

  @include tablet-medium-max {
    margin-right: 15px;
  }

  @include mobile-max {
    margin-right: 0;
  }
}

.calculator-form__sub-title {
  @include ubuntu(18, 24, 400);
  color: $medium-gray;
}

.calculator-form__sub-title--orange {
  color: $orange-date;
}

// select block

.calculator-form__select-block {
  width: 370px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;

  @include mobile-medium-max {
    width: 270px;
  }
}

.calculator-form__select {
  @include ubuntu(17, 24, 400);
  box-sizing: border-box;
  margin-top: 4px;
  padding: 8px 17px 9px;
  color: $header-gray;
  outline: none;
  cursor: pointer;

  appearance: none;
  background-image: url("../img/calculator-form/angle-arrow-down.png");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 12px auto;
}

.calculator-form__select:hover,
.calculator-form__select:focus,
.calculator-form__select:active {
  color: $green;
  box-shadow: 0 4px 12px 4px rgba(185, 185, 185, 0.75);
}

.calculator-form__select:disabled,
.calculator-form__select[aria-disabled="true"] {
  color: $gray-disabled;
}

.calculator-form__select:disabled:hover,
.calculator-form__select[aria-disabled="true"] {
  border-color: $gray-disabled;
}

.calculator-form__select option {
  cursor: pointer;
}

// check block

.calculator-form__item {
  width: 366px;
  padding: 18px 0;
  border: none;

  @include mobile-medium-max {
    width: 270px;
  }
}

.calculator-form__radio-list,
.calculator-form__check-list,
.calculator-form__construction-type-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

// Блок Выбора типа дерева

.calculator-form__radio-list {
  justify-content: space-between;
}

.calculator-form__radio-item {
  width: 90px;

  @include mobile-medium-max {
    width: 49px;
  }
}

.calculator-form__radio-img {
  border-radius: 50%;
}

.calculator-form__radio-label {
  @include ubuntu(14, 24, 400);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $medium-gray;
  cursor: pointer;
}

.calculator-form__radio-img-wrapp {
  width: 71px;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  @include mobile-medium-max {
    width: 61px;
    height: 61px;

    img {
      width: 55px;
      height: 55px;
    }
  }
}

.calculator-form__radio-label:hover .calculator-form__radio-img-wrapp,
.calculator-form__radio-label:focus .calculator-form__radio-img-wrapp {
  border: 1px solid $green;
}

.calculator-form__radiobox:disabled + label,
.calculator-form__radiobox:disabled + label::before {
  border-color: $gray-disabled;
  opacity: 0.3;
  cursor: default;
}

.calculator-form__radiobox:checked + label {
  color: $blue;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 9px;
    width: 71px;
    height: 71px;
    border: 1px solid $green;
    border-radius: 50%;

    @include mobile-medium-max {
      width: 61px;
      height: 61px;
      left: -6px;
    }
  }
}

// Блок Дополнительные элементы

.calculator-form__check-item {
  margin-bottom: 11px;
}

.calculator-form__check-label {
  @include ubuntu(15, 24, 400);
  position: relative;
  padding-left: 33px;
  padding-right: 10px;
  color: $medium-gray;
  cursor: pointer;
}

.calculator-form__checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  border: 1px solid $breadcrumbs-gray;
}

.calculator-form__checkbox:hover + label::before,
.calculator-form__checkbox:focus + label::before {
  border-color: $very-light-gray;
}

.calculator-form__checkbox:disabled + label,
.calculator-form__checkbox:disabled + label::before {
  border-color: $gray-disabled;
  opacity: 0.3;
  cursor: default;
}

.calculator-form__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 15px;
  height: 11px;
  background-image: url("../img/calculator-form/tick.png");
}

.calculator-form__label-explanation {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 17px;
  text-align: center;

  position: relative;
  right: -1px;
  bottom: 5px;

  color: $white;
  border-radius: 50%;
  background-color: $icon-bg-gray;

  cursor: pointer;

  &:hover::before {
    content: attr(data-explanation);

    @include ubuntu(12, 16, 300);
    position: absolute;
    bottom: 10px;
    right: 50%;
    display: block;
    width: 100px;
    min-height: 32px;
    padding: 10px;
    border-radius: 2px;
    background-color: $header-gray;
    z-index: 1;
  }
}

.calculator-form__submit-btn {
  padding: 24px 76px 22px;

  &:hover,
  &:focus {
    background-color: $orange;
  }

  @include mobile-max {
    padding: 18px 30px 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
  }

  @include mobile-medium-max {
    left: 50px;
    transform: none;
  }
}

// Правая часть формы

.calculator-form__right-side {
  width: 270px;

  @include mobile-max {
    margin-top: 20px;
  }
}

// Блок Выбора типа конструкции

.calculator-form__item--construction {
  width: 265px;
}

.calculator-form__construction-type-list {
  width: 240px;
  justify-content: space-between;
}

.calculator-form__construction-type-label {
  @include ubuntu(14, 24, 400);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $medium-gray;
  cursor: pointer;
}

.calculator-form__construction-type-label:hover .calculator-form__construction-type-img,
.calculator-form__construction-type-label:focus .calculator-form__construction-type-img,
.calculator-form__construction-type-label:active .calculator-form__construction-type-img {
  opacity: 0.7;
}

.calculator-form__construction-type-box:disabled + label,
.calculator-form__construction-type-box:disabled + label::before {
  border-color: $gray-disabled;
  opacity: 0.3;
  cursor: default;
}

.calculator-form__construction-type-box:checked + label {
  color: $blue;

  &::after {
    content: "";
    position: absolute;
    top: -12px;
    right: -11px;
    width: 25px;
    height: 25px;
    background: $white url("../img/calculator-form/tick.png") center center no-repeat;
    border: 1px solid $orange;
    border-radius: 50%;
  }
}

// Блок размера окна

.calculator-form__item--size {
  width: 205px;
  margin: 0 auto;
}

.calculator-form__size-wrapper {
  display: flex;
  justify-content: space-between;
}

.calculator-form__size {
  @include ubuntu(15, 24, 400);
  color: $medium-gray;
}

.calculator-form__size--height {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-form__size input {
  @include ubuntu(14, 24, 400);
  box-sizing: border-box;
  width: 48px;
  margin: 7px;
  padding: 3px 6px;
  color: $header-gray;
  border: 1px solid $breadcrumbs-gray;
  outline: none;

  &:hover {
    color: $very-light-gray;
    border: 1px solid $very-light-gray;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &:active,
  &:focus {
    color: rgba(103, 76, 51, 1);
    border-color: $gray;

    &::placeholder {
      color: rgba(103, 76, 51, 1);
    }
  }

  &::placeholder {
    color: $white;
  }
}

.calculator-form__size-img {
  position: relative;

  img {
    margin-bottom: 7px;
  }

  &::before {
    content: "";
    display: block;
    width: 1px;
    height: 136px;
    background-color: $gray;

    position: absolute;
    top: 0;
    left: -7px;
  }

  &::after {
    content: "";
    display: block;
    width: 137px;
    height: 1px;
    background-color: $gray;

    position: absolute;
    right: 0;
    top: 143px;
  }
}

// Блок стоимости

.calculator-form__price {
  width: 270px;
  padding: 25px 28px;
  background-color: #f0f0f0;
}

.calculator-form__price-title {
  @include ubuntu(20, 24, 700);
  color: $dark-gray;
  text-transform: uppercase;
}

.calculator-form__price-value {
  @include ubuntu(40, 24, 700);
  display: block;
  padding: 12px 0;
  color: $dark-gray;
}

.calculator-form__price-description {
  @include ubuntu(14, 18, 400);
  color: $light-gray;
}

.calculator-form__price a {
  border-bottom: 1px solid $light-gray;

  &:hover,
  &:focus,
  &:active {
    color: $green;
    border-color: $green;
  }
}
