.main-nav {
  width: 100%;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  @include tablet-medium-max {
    flex-direction: column;
    width: 100%;
  }
}

.main-nav__link {
  @include ubuntu(18, 25, 700);
  display: block;
  padding: 17px 6px 18px;
  color: #302f2f;

  &:hover,
  :focus,
  :active {
    color: $green;
  }

  @include tablet-max {
    font-size: 15px;
  }

  @include tablet-medium-max {
    font-size: 14px;
  }

  @include mobile-max {
    padding: 8px 0;
  }
}


.main-nav__item {
  position: relative;
  margin-right: 27px;

  &--active,
  &:hover {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      z-index: 2;
      left: 6px;
      right: 6px;

      display: block;
      height: 1px;

      background-color: $gray;

      @include tablet-medium-max {
        display: none;
      }
    }

    .main-nav__link {
      color: $green;
    }

    .main-nav__sub {
      display: block;
      padding-top: 23px;
      padding-bottom: 60px;
    }
  }

  @include tablet-max {
    margin-right: 18px;
  }

  @include tablet-medium-max {
    margin-right: 14px;
  }

  @include tablet-medium-max {
    border-top: 1px solid $border-gray;
    border-bottom: none;

    &:hover .main-nav__window {
      display: none;
    }
  }

  @include mobile-max {
    border-top: none;
  }
}

.main-nav__item--sub .main-nav__link {
  &::after {
    content: "";
    position: absolute;
    top: 27px;
    right: -10px;
    z-index: 2;

    display: block;
    width: 11px;
    height: 6px;
    background-image: url("/img/icons/arrow-marker.png");

    @include tablet-medium-max {
      right: 0;
      background-image: none;
    }
  }
}
