include ../calculator-form/calculator-form

mixin calculator-section(mod)
  section.calculator-section.container(class= mod ? 'calculator-section--' + mod : '')
    +calculator-form(mod)
    include ../order-measurer-form/order-measurer-form
