.quality {
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile-max {
    width: 260px;
    margin-bottom: 32px;
  }

  @include mobile-medium-max {
    width: 160px;
  }
}

.quality__description-wrapper {
  text-align: center;
}

.quality__title {
  @include ubuntu(18, 24, 500);
  margin: 0;

  @include mobile-max {
    @include ubuntu(14, 20, 400);
  }
}

.quality__description {
  @include ubuntu(15, 18, 400);
  margin: 0;
  margin-top: 5px;

  @include mobile-max {
    @include ubuntu(14, 16, 400);
  }

  @include mobile-medium-max {
    font-size: 12px;
  }
}

.quality__img {
  width: 95px;
  height: 95px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;

  background-image: radial-gradient(rgba(100, 137, 46, 1) 0, rgba(100, 137, 46, 1) 55%, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid $border-gray;
  border-radius: 50%;

  @include mobile-medium-max {
    width: 90px;
    height: 90px;
  }
}

.quality__img img {
  max-width: 48px;
  margin: auto;
}

.quality--transparent-left {
  flex-direction: row;
  width: 570px;
  justify-items: center;
  margin-bottom: 16px;

  .quality__description-wrapper {
    width: 440px;
    text-align: left;
  }

  .quality__title {
    @include ubuntu(19, 24, 700);
    margin: 0;

    @include mobile-max {
      @include ubuntu(17, 20, 500);
    }

    @include mobile-medium-max {
      font-size: 15px;
      font-weight: 400;
    }
  }

  .quality__img {
    margin-right: 30px;
    margin-bottom: 0;
    background-image: none;

    @include mobile-medium-max {
      width: 50px;
      height: 50px;
      margin-right: 10px;

      img {
        max-width: 27px;
      }
    }
  }

  @include mobile-medium-max {
    max-width: 500px;
    width: auto;

    .quality__description-wrapper {
      max-width: 225px;
    }
  }
}
