include ../title/title

-
  const questionsList = [
      {
        label: '1.',
        content: 'Здравствуйте, скажите, пожалуйста, какой срок изготовления деревянных окон? И можно устанавливать окна в зимний период?',
        answer: 'Если в оконных проемах установлены старые или временные деревянные окна, то наши специалисты произведут демонтаж и подготовят проемы к монтажу новых окон из дерева. Монтаж оконных блоков осуществляется в строгом соответствии с ГОСТ 30971-2002'
      },
      {
        label: '2.',
        content: 'Добрый день! В чем принципиальное отличие финских окон от так называемых евроокон.',
        answer: 'Если в оконных проемах установлены старые или временные деревянные окна, то наши специалисты произведут демонтаж и подготовят проемы к монтажу новых окон из дерева. Монтаж оконных блоков осуществляется в строгом соответствии с ГОСТ 30971-2002'
      },
      {
        label: '3.',
        content: 'Проконсультируйте пожалуйста, по стоимости окон из сосны с алюминием снаружи?',
        answer: 'Если в оконных проемах установлены старые или временные деревянные окна, то наши специалисты произведут демонтаж и подготовят проемы к монтажу новых окон из дерева. Монтаж оконных блоков осуществляется в строгом соответствии с ГОСТ 30971-2002'
      },
      {
        label: '4.',
        content: 'Возможно ли доставка в Дальние регионы РФ?',
        answer: 'Если в оконных проемах установлены старые или временные деревянные окна, то наши специалисты произведут демонтаж и подготовят проемы к монтажу новых окон из дерева. Монтаж оконных блоков осуществляется в строгом соответствии с ГОСТ 30971-2002'
      },
    ]

section.faq
  div.faq__wrapper
    +title('Часто задаваемые вопросы', 'section').faq__title
    ul.faq__questions
      each question in questionsList
        li.faq__question.js-faq-control
          div.faq__question-title
            span #{question.label}
            p!= question.content
          div.faq__answer
            p!= question.answer
    a(href="#").faq__ask-question-link.js-ask-question-open Задать вопрос
    img(src="img/decor/thinking-woman.png" width="300" height="525" alt="").faq__decor-img
