include ../service-post/service-post

-
  const postsList = [
    {
      image: 'post-1.jpg',
      w: 384,
      h: 237,
      alt: 'Энергосбережение',
      title: 'Энергосбережение стеклопакета и рамы',
      content: 'Мы используем энергосберегающий стеклопакет толщиной от&nbsp;38 до&nbsp;54&nbsp;мм заполненный энертным газом «Аргон» или «Криптон».',
      link: '#',
    },
    {
      image: 'post-2.jpg',
      w: 384,
      h: 237,
      alt: 'Энергосбережение',
      title: 'Энергосбережение стеклопакета и рамы или другая услуга',
      content: 'Мы используем энергосберегающий стеклопакет толщиной от&nbsp;38 до&nbsp;54&nbsp;мм заполненный энертным газом «Аргон» или «Криптон».',
      link: '#',
    },
    {
      image: 'post-3.jpg',
      w: 384,
      h: 237,
      alt: 'Энергосбережение',
      title: 'Энергосбережение стеклопакета и рамы или другая услуга',
      content: 'Мы используем энергосберегающий стеклопакет толщиной от&nbsp;38 до&nbsp;54&nbsp;мм заполненный энертным газом «Аргон» или «Криптон».',
      link: '#',
    },
    {
      image: 'post-4.jpg',
      w: 384,
      h: 237,
      alt: 'Энергосбережение',
      title: 'Энергосбережение стеклопакета и рамы',
      content: 'Мы используем энергосберегающий стеклопакет толщиной от&nbsp;38 до&nbsp;54&nbsp;мм заполненный энертным газом «Аргон» или «Криптон».',
      link: '#',
    },
    {
      image: 'post-5.jpg',
      w: 384,
      h: 237,
      alt: 'Энергосбережение',
      title: 'Энергосбережение стеклопакета и рамы или другая услуга',
      content: 'Мы используем энергосберегающий стеклопакет толщиной от&nbsp;38 до&nbsp;54&nbsp;мм заполненный энертным газом «Аргон» или «Криптон».',
      link: '#',
    },
    {
      image: 'post-6.jpg',
      w: 384,
      h: 237,
      alt: 'Энергосбережение',
      title: 'Энергосбережение стеклопакета и рамы или другая услуга',
      content: 'Мы используем энергосберегающий стеклопакет толщиной от&nbsp;38 до&nbsp;54&nbsp;мм заполненный энертным газом «Аргон» или «Криптон».',
      link: '#',
    },
  ]

section.service-post-section
  div.service-post-section__wrapper
    each post in postsList
      +service-post(post, 'service-post-section').service-post-section__post
