mixin nav-window
  ul.nav-window&attributes(attributes)
    li.nav-window__item
      a.nav-window__link(href="#") Дерево-алюминиевые
    li.nav-window__item
      a.nav-window__link(href="#") Из дуба
    li.nav-window__item
      a.nav-window__link(href="#") Из сосны
    li.nav-window__item
      a.nav-window__link(href="#") Из лиственницы
        img(src="img/icons/arrow-marker-r.png" width="6" height="11" alt="").nav-window__sub-icon

      div.nav-window__sub
        ul.nav-window__sub-list
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Дерево-алюминиевые
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из дуба
            //- +window-preview.nav-window__sub-preview
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из сосны
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из лиственницы
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из дуба
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из сосны
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из лиственницы
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из дуба
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из сосны
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из лиственницы

          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Дерево-алюминиевые
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из дуба
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из сосны
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из лиственницы
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из дуба
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из сосны
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из лиственницы
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из дуба
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из сосны
          li.nav-window__sub-item
            a.nav-window__sub-link(href="#") Из лиственницы

    li.nav-window__item
      a.nav-window__link(href="#") Из дуба
    li.nav-window__item
      a.nav-window__link(href="#") Из сосны
    li.nav-window__item
      a.nav-window__link(href="#") Из лиственницы
    li.nav-window__item
      a.nav-window__link(href="#") Из дуба
    li.nav-window__item
      a.nav-window__link(href="#") Из сосны
    li.nav-window__item
      a.nav-window__link(href="#") Из лиственницы
