.holder {
  padding-top: 50px;
  padding-bottom: 50px;
  color: $white;
  background-color: $green;
}

.holder__description {
  padding-left: 55px;
}

.holder__title {
  @include ubuntu(60, 48, 700);
  margin-bottom: 20px;

  @include tablet-medium-max {
    font-size: 48px;
  }

  @include mobile-medium-max {
    font-size: 42px;
  }
}

.holder__slogan {
  @include ubuntu(24, 36, 400);

  @include mobile-medium-max {
    font-size: 18px;
    line-height: 28px;
  }
}
