.feedback-contacts {
  display: flex;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 26px 30px;
  justify-content: space-between;
  border-top: 1px solid $border-gray;
}

.feedback-contacts__call,
.feedback-contacts__contacts {
  display: flex;
}

.feedback-contacts__gager,
.feedback-contacts__callback {
  width: 225px;
  margin-right: 37px;
}

.feedback-contacts__gager {
  color: $green-btn;
}

.feedback-contacts__callback {
  color: $orange-btn;
}
