include ../svg/svg

section.specifications
  div.specifications__wrapper
    h2.specifications__title Основные характеристики
    div.specifications__list
      div.specifications__info
        label(for="spec-1").visually-hidden Показать описание
        input(type="checkbox" id="spec-1" name="specification").specifications__input
        h3.specifications__specific-title Технические характеристики
          +svg('arrow-short-down')(width="8" height="5")
        div.specifications__specific-hide
          p Если в оконных проемах установлены старые или временные деревянные окна, то наши специалисты произведут демонтаж и подготовят проемы к монтажу новых окон из дерева. Монтаж оконных блоков осуществляется в строгом соответствии с ГОСТ 30971-2002
      div.specifications__info
        label(for="spec-2").visually-hidden Показать описание
        input(type="checkbox" id="spec-2" name="specification").specifications__input
        h3.specifications__specific-title Конструкция
          +svg('arrow-short-down')(width="8" height="5")
        div.specifications__specific-hide
          p Если в оконных проемах установлены старые или временные деревянные окна, то наши специалисты произведут демонтаж и подготовят проемы к монтажу новых окон из дерева. Монтаж оконных блоков осуществляется в строгом соответствии с ГОСТ 30971-2002
      div.specifications__info
        label(for="spec-3").visually-hidden Показать описание
        input(type="checkbox" id="spec-3" name="specification").specifications__input
        h3.specifications__specific-title Конструкция
          +svg('arrow-short-down')(width="8" height="5")
        div.specifications__specific-hide
          p Если в оконных проемах установлены старые или временные деревянные окна, то наши специалисты произведут демонтаж и подготовят проемы к монтажу новых окон из дерева. Монтаж оконных блоков осуществляется в строгом соответствии с ГОСТ 30971-2002
      div.specifications__info
        label(for="spec-4").visually-hidden Показать описание
        input(type="checkbox" id="spec-4" name="specification" checked).specifications__input
        h3.specifications__specific-title Рама и створка
          +svg('arrow-short-down')(width="8" height="5")
        div.specifications__specific-hide
          p Если в оконных проемах установлены старые или временные деревянные окна, то наши специалисты произведут демонтаж и подготовят проемы к монтажу новых окон из дерева. Монтаж оконных блоков осуществляется в строгом соответствии с ГОСТ 30971-2002
  div.specifications__details
    img(src="img/specifications/win-specifications.jpg", width="456" height="456" alt="Характеристики окон")
    div.specifications__detail.specifications__detail--data-1
      input(type="radio" name="data-sheet" id="data-sheet-1").specifications__detail-input.visually-hidden
      label(for="data-sheet-1") +
      div.specifications__data-sheet
        h3 Современный дизайн
        p Аккуратно закругленный оконный профиль подчеркивает натуральную структуру древесины.
    div.specifications__detail.specifications__detail--data-2
      input(type="radio" name="data-sheet" id="data-sheet-2" checked).specifications__detail-input.visually-hidden
      label(for="data-sheet-2") +
      div.specifications__data-sheet
        h3 Современный дизайн
        p Аккуратно закругленный оконный профиль подчеркивает натуральную структуру древесины.
    div.specifications__detail.specifications__detail--data-3
      input(type="radio" name="data-sheet" id="data-sheet-3").specifications__detail-input.visually-hidden
      label(for="data-sheet-3") +
      div.specifications__data-sheet
        h3 Современный дизайн
        p Аккуратно закругленный оконный профиль подчеркивает натуральную структуру древесины.
    div.specifications__detail.specifications__detail--data-4
      input(type="radio" name="data-sheet" id="data-sheet-4").specifications__detail-input.visually-hidden
      label(for="data-sheet-4") +
      div.specifications__data-sheet
        h3 Современный дизайн
        p Аккуратно закругленный оконный профиль подчеркивает натуральную структуру древесины.
    div.specifications__detail.specifications__detail--data-5
      input(type="radio" name="data-sheet" id="data-sheet-5").specifications__detail-input.visually-hidden
      label(for="data-sheet-5") +
      div.specifications__data-sheet
        h3 Современный дизайн
        p Аккуратно закругленный оконный профиль подчеркивает натуральную структуру древесины.
    div.specifications__detail.specifications__detail--data-6
      input(type="radio" name="data-sheet" id="data-sheet-6").specifications__detail-input.visually-hidden
      label(for="data-sheet-6") +
      div.specifications__data-sheet
        h3 Современный дизайн
        p Аккуратно закругленный оконный профиль подчеркивает натуральную структуру древесины.
