// region screen sizes
$screen-sm: 579px;
$screen-md: 767px;
$screen-l: 1023px;
$screen-lg: 1199px;
// $screen-xl: 1399px;
$screen-xl: 1440px;

$screen-xxl: 1799px;
// endregion

// region colors
$dark-gray: #181715; // Основной цвет текста / заголовков.
$gray: #373737; // Цвет фона некоторых блоков / топ-футера.
$header-gray: #969696; // Цвет фона некоторых блоков / топ-футера.
$medium-gray: #4c4c4c; // Цвет фона некоторых блоков / низ футера.
$light-gray: #787878; // Цвет фона некоторых блоков / низ футера.
$decor-gray: #f8f8f8; // Цвет фона некоторых блоков / декорации
$very-light-gray: #8f8f8f; // Цвет светлого текста
$icon-gray: #c2c2c2; // Цвет фона иконок
$border-gray: #d7d7d7; // Цвет границ
$icon-bg-gray: #b9b9b9; // Цвет фона иконок в футере
$breadcrumbs-gray: #a8a8a8; // Цвет хлебных крошек
$gray-disabled: #c5c5c5;

$orange: #f19700; // Цвет кнопок и некоторого текста.
$orange-date: #f19700; // Цвет текста даты.
$orange-btn: #fddba1; // Цвет кнопок.
$orange-hover: #e08f02;
$orange-active: #c57d00;
$yellow: #e9c65a;

$green: #64892e; // Цвет кнопок и некоторых ссылок.
$green-btn: #99d640; // Цвет кнопок и некоторых ссылок.
$green-hover: #4b691d;
$green-active: #3f6606;

$red: #ff0029;
$white: #ffffff; // Цвет текста на цветном фоне.
$black: #000000;
$black-title: #0b0000; //Цвет заголовка

// $bg-gradient-gray: linear-gradient(0deg, rgba(216, 216, 216, 0.2) -5.21%, rgba(216, 216, 216, 0) 88.31%);
// endregion

// region fonts
$ubuntu: "Ubuntu", "Arial", sans-serif;
// endregion

// region retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
// endregion
